# build output
dist
.next

# dependencies
node_modules
yarn.lock
!/yarn.lock
test/node_modules

# Editors
**/.idea
**/.#*

# examples
examples/**/out
examples/**/.env*.local

# Cache
*.tsbuildinfo

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
